* {
    --nav-height: 3rem;
    --max-height: 100vh;
    --max-width: 100vw;
    --img-nav-height: calc(var(--nav-height) - 1.5rem);
    --w11-logo-gradient: linear-gradient(135deg, #6bd3ff, #0079d4);
    font-family: poppins, monospace;
}

body {
    height: var(--max-height);
    width: var(--max-width);
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(./images/1dark.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background: linear-gradient(rgba(0, 0, 85, 0.075), transparent, rgba(0, 0, 85, 0.192));
    height: var(--nav-height);
    width: var(--max-width);
    position: fixed;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 0 1em rgba(0, 0, 255, 0.027);
    backdrop-filter: blur(5em);
}

nav #nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
}

#first-container,
#second-container {
    display: flex;
    height: 100%;
    width: auto;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

#second-container {
    gap: 0rem !important;
}

#first-container div svg,
#first-container div img,
#second-container div svg,
#second-container div img {
    aspect-ratio: 1;
    height: var(--img-nav-height);
    width: auto;
    border-radius: 0.1em;
}

#first-container {
    margin: auto;
}

#second-container #sistema-info div {
    display: grid;
    place-content: center;
}

#sistema-info {
    height: 80%;
    gap: 0.5em;
    padding: 0 0.5em;
    border-radius: 0.5em;
    transition-duration: 0.5s;
    color: white;
    margin-right: 0.5em;
    display: grid;
    grid-auto-flow: column;
}

#sistema-data {
    height: 80%;
    padding: 0 1em !important;
    color: white;
    margin-right: 0.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    font-size: 0.65em;
    align-items: flex-end;
    justify-content: center;
}

#sistema-info:hover,
#sistema-data:hover {
    background-color: rgba(255, 255, 255, 0.075);
    transition-duration: 0.5s;
}

#sistema-info div {
    margin: auto;
}

#first-container div {
    aspect-ratio: 1;
    border-radius: 0.1rem;
    transition-duration: 0.2s;
    height: 85%;
    display: grid;
    place-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.0);
}

#second-container div svg {
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    transform: scale(0.7);
}

#first-container div:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    transition-duration: 0.5s;
    border-top: 1px solid rgba(255, 255, 255, 0.075);
}

#w11-logo {
    border-radius: 0.2rem;
    fill: white;
}

#first-container div:nth-child(2) svg {
    color: #eff7ff;
}

#w11-start-section {
    backdrop-filter: blur(1em);
    color: white;
    height: 5
}